#collection
  #header
  #sidebar
  #main
    #decklist
    #stats
    #filter
    #organizer
      .card_search
      %ul

:javascript
  $(function() {
    window.app = new App.CardCollection();
  });