#collection
  #header
  #sidebar
  #main
    #decklist
    #stats
    #filter
    #organizer

:javascript
  $(function() {
    window.app = new App.Collection();
    //Backbone.history.start({pushState: true});
  });